<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
</head>

<body>
    <h1>Published Blogs</h1>
    <% if (user) { %>
        <p>Welcome, <%= user.id || 'User' %> | <a href="/">Home</a> | <a href="/dashboard">My Dashboard</a> | <a href="/new-blog">New Blog</a> | <a href="/auth/logout" style="color: red;">Logout</a>
        </p>
        <% } else { %>
            <p><a href="/">Home</a> | <a href="/signin">Sign In</a> | <a href="/signup">Sign Up</a></p>
            <% } %>

                <ul>
                    <% if (blogs.length> 0) { %>
                        <% blogs.forEach(blog=> { %>
                            <li>
                                <h3><a href="/blog/<%= blog._id %>">
                                        <%= blog.title %>
                                    </a></h3>
                                <p>By: <%= blog.author ? (blog.author.first_name + ' ' + blog.author.last_name) : 'Unknown Author' %></p> 
                    <p>Read count: <%= blog.read_count %> | Reading time: <%= blog.reading_time %> min</p>
                    <p><%= blog.createdAt.toDateString() %></p>
                </li>
            <% }) %>
        <% } else { %>
            <p>No published blogs found.</p>
        <% } %>
    </ul>
</body>
</html>