<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= blog.title %>
    </title>
</head>

<body>
    <h1>
        <%= blog.title %>
    </h1>
    <p>
        <strong>Author:</strong>
        <%= blog.author.join(', ') %><br>
        <strong>Created At:</strong> <%= blog.createdAt.toDateString() %><br>
        <strong>Read Count:</strong> <%= blog.read_count %> | <strong>Reading Time:</strong> <%= blog.reading_time %> min
    </p>

    <div>
        <p><%= blog.body %></p>
    </div>

    <hr>
    <p>
        <a href="/">Back to Home</a>
        <% if (user && user.id === blog.author.toString()) { %> 
            | <a href="/blog/<%= blog._id %>/edit">Edit</a>
        <% } %>
    </p>
</body>
</html>